parameter_defaults:
  ControllerSchedulerHints:
    'capabilities:node': 'osp8-control-%index%'
  NovaComputeSchedulerHints:
    'capabilities:node': 'osp8-compute-%index%'
  CephStorageSchedulerHints:
    'capabilities:node': 'osp8-ceph-%index%'
