parameter_defaults:
  ControllerSchedulerHints:
    'capabilities:node': 'osp10-control-%index%'
  NovaComputeSchedulerHints:
    'capabilities:node': 'osp10-compute-%index%'
  CephStorageSchedulerHints:
    'capabilities:node': 'osp10-ceph-%index%'
