[DEFAULT]
local_ip = {{item.local_ip}}
undercloud_public_vip = {{item.undercloud_public_vip}}
undercloud_admin_vip = {{item.undercloud_admin_vip}}
local_interface = {{item.local_interface}}
masquerade_network = {{item.masquerade_network}}
dhcp_start = {{item.dhcp_start}}
dhcp_end = {{item.dhcp_end}}
network_cidr = {{item.network_cidr}}
network_gateway = {{item.network_gateway}}
discovery_iprange = {{item.discovery_iprange}}
[auth]
